.options{
  height: 860px;
  background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg');
  background-position: bottom center;
  background-size: cover;

  h1{
    font-size: 33px;
    line-height: 2;
    margin-top: 5%;
    color: white;
    text-align: center;
  }

  p{
    font-size: 18px;
    line-height: 2;
    color: white;
    text-align: center;
  }

  img{
    width: 56%;
    margin-left: 22%;
    margin-top: 1%;

  }
}
